<div ng-controller="ctyunFindImageFromNameStageCtrl as findImageFromNameCtrl" class="form-horizontal">
  <stage-config-field label="Package">
    <input type="text" class="form-control input-sm" ng-model="stage.packageName" />
  </stage-config-field>
  <stage-config-field label="Regions">
    <checklist items="regions" model="stage.regions" inline="true" include-select-all-button="true"></checklist>
  </stage-config-field>
  <stage-config-field label="ImageName">
    <input type="text" class="form-control input-sm" ng-model="stage.imageName" />
  </stage-config-field>
</div>
