<div  ng-controller="alicloudServerGroupSecurityGroupsCtrl as serverGroupSecurityGroups">
  <div class="form-group row">
    <div class="col-md-3 sm-label-right" ng-show="instanceSelectorCtrl.laybel==3">
      InstanceType
    </div>
    <div class="col-md-4 sm-label-right" ng-show="instanceSelectorCtrl.laybel==4">
      InstanceType
    </div>
    <h5
      class="text-center col-md-7"
      ng-show="instanceSelectorCtrl.command.zoneIds==null && instanceSelectorCtrl.laybel==3 "
    >
      (please select a zoneId)
    </h5>
    <div class="col-md-7" ng-show="instanceSelectorCtrl.command.zoneIds!=null || instanceSelectorCtrl.laybel==4">
      <!--<button type="button" ng-show="instanceSelectorCtrl.laybel==3" style="margin-right:5px;margin-bottom:3px;" ng-click="instanceSelectorCtrl.deleteinstancetype($index)" class="btn btn-info myAlert" ng-repeat = "item in instanceSelectorCtrl.command.scalingConfigurations.instanceTypes">-->
      <!--{{item}}-->
      <!--<span>&times;</span>-->
      <!--<button type="button" ng-show="instanceSelectorCtrl.laybel==4" style="margin-right:5px;margin-bottom:3px;" ng-click="instanceSelectorCtrl.deleteinstancetype($index)" class="btn btn-info myAlert" ng-repeat = "item in instanceSelectorCtrl.command.scalingConfiguration.instanceTypes">-->
      <!--{{item}}-->
      <!--<span>&times;</span>-->
      <!--</button>-->
      <!--ng-change = "instanceSelectorCtrl.getinsatncetype(instanceSelectorCtrl.command.scalingConfigurations.instanceType)"
      <select
        ng-required="instanceSelectorCtrl.require"
        class="form-control input-sm"
        ng-show="instanceSelectorCtrl.laybel==3"
        ng-model="instanceSelectorCtrl.command.scalingConfigurations.instanceType"
        ng-options="instancetype for instancetype in instanceType"
      ></select>
      <select
        multiple
        ng-required="instanceSelectorCtrl.require"
        ng-show="instanceSelectorCtrl.laybel==4"
        class="form-control input-sm"
        ng-model="instanceSelectorCtrl.command.scalingConfiguration.instanceType"
        ng-options="instancetype for instancetype in instanceType"
      ></select>-->

      <ui-select
        required
        class="form-control input-sm"
        ng-model="selected.value"
        multiple
        ng-change="serverGroupSecurityGroups.instanceTypeChanged($select.selected)"
      >
        <ui-select-match>
          <span ng-bind-html="$item"></span>
        </ui-select-match>
        <ui-select-choices repeat="instance in instanceType | highlight: $select.search">
          <span ng-bind-html="instance"></span>
        </ui-select-choices>
      </ui-select
        required>


    </div>
  </div>
</div>

