<h5 class="text-center" ng-if="!command.viewState.securityGroupsConfigured">Please select an account and region.</h5>
<div
  ng-if="command.viewState.securityGroupsConfigured"
  ng-controller="alicloudServerGroupSecurityGroupsCtrl as securityGroupCtrl"
>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <label class="sm-label-right"> SecurityGroupId </label>
    </div>
    <h5 ng-show="command.vSwitchId==null" class="text-center col-md-7">(please select a subnet)</h5>
    <div class="col-md-7" ng-show="command.vSwitchId!=null">
      <ui-select
        required
        ng-model="command.scalingConfigurations.securityGroupId"
        class="form-control input-sm"
        on-select="securityGroupCtrl.securityGroupChanged($item)"
      >
        <ui-select-match placeholder="select a {{firewallLabel}}">{{command.scalingConfigurations.securityGroupId}}/{{command.scalingConfigurations.securityGroupName}}</ui-select-match>
        <ui-select-choices
          repeat="securityGroup in serverGroupId"
        >
          <span ng-bind-html="securityGroup.id+'/'+ securityGroup.name"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 sm-label-right">KeyPairName</label>
    <div class="col-md-7">
      <ui-select
        required
        ng-model="command.scalingConfigurations.keyPairName"
        class="form-control input-sm"
        on-select=""
      >
        <ui-select-match placeholder="select a {{firewallLabel}}">{{$select.selected}}</ui-select-match>
        <ui-select-choices
          repeat="securityGroup in keyPairs"
        >
          <span ng-bind-html="securityGroup | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <alicloud-security-image-id-directive
    command="command"
    laybel="3"
    require="true">
  </alicloud-security-image-id-directive>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      SpotStrategy
    </div>
    <div class="col-md-7">
      <select
        class="form-control input-sm"
        ng-model="command.scalingConfigurations.spotStrategy"
        ng-options="spotStrategy for spotStrategy in ['NoSpot','SpotWithPriceLimit','SpotAsPriceGo']"
      ></select>
    </div>
  </div>

  <div class="form-group" ng-show="command.scalingConfigurations.spotStrategy == 'SpotWithPriceLimit'">
    <div class="col-md-3 sm-label-right">
      SpotPriceLimit
    </div>
    <div class="col-md-7">
      <input
        type="number"
        class="form-control input-sm"
        ng-model="command.scalingConfigurations.spotPriceLimits[0].priceLimit"
        name="systemDiskSize"
        ng-pattern=""
        ng-change=""
      />
    </div>
  </div>

  <alicloud-security-instance-directive
    command="command"
    laybel="3"
    require="true"
    instanceType="instanceType">
  </alicloud-security-instance-directive>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Password
    </div>
    <div class="col-md-7">
      <input
        type="password"
        class="form-control input-sm"
        ng-model="command.scalingConfigurations.password"
        name="password"
        ng-pattern="/^(?!\/)(?=.*[a-zA-Z])(?=.*\d)(?=.*[~!@#$%^&*()_+`\-={}:'<>?,.\/]).{8,64}$/"
        ng-change=""
      />
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      DiskCategory
      <help-field key="alicloud.serverGroup.Diskcategory"></help-field>
    </div>
    <div class="col-md-7">
      <select
        class="form-control input-sm"
        ng-model="command.systemDiskCategory"
        ng-options="systemDiskCategory for systemDiskCategory in ['cloud_efficiency','cloud_ssd','ephemeral_ssd','cloud_essd']"
      ></select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      DiskSize
      <help-field key="alicloud.serverGroup.Disksize"></help-field>
    </div>
    <div class="col-md-7">
      <input
        type="number"
        min="40"
        max="500"
        class="form-control input-sm"
        ng-model="command.systemDiskSize"
        name="systemDiskSize"
        ng-pattern=""
        ng-change=""
      />
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      RamRoleName
    </div>
    <div class="col-md-7">
      <input
        class="form-control input-sm"
        ng-model="command.scalingConfigurations.ramRoleName"
        ng-change=""
      />
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">MaxBandwidthOut
    </div>
    <div class="col-md-3">
      <input
        type="number"
        min="0"
        max="100"
        class="form-control input-sm"
        ng-model="command.scalingConfigurations.internetMaxBandwidthOut"
        name="InternetMaxBandwidthOut"
        ng-change=""
      />
    </div>
    <div class="col-md-6 form-inline">
      <label class="sm-label-right">
        LoadBalancerWeight
      </label>
      <input
        type="number"
        min="0"
        max="100"
        class="form-control input-sm"
        ng-model="command.scalingConfigurations.loadBalancerWeight"
        name="InternetMaxBandwidthOut"
        ng-change=""
      />
    </div>
  </div>

  <div class="form-group small" style="margin-top: 20px">
    <div class="col-md-9 col-md-offset-3">
      <p>
        <span ng-if="refreshing"><span class="fa fa-sync-alt fa-spin"></span></span>
        <firewall-label label="Firewalls"></firewall-label>
        <span ng-if="!refreshing">last refreshed {{ getSecurityGroupRefreshTime() | timestamp }}</span>
        <span ng-if="refreshing"> refreshing...</span>
      </p>
      <p>
        If you're not finding a <firewall-label label="firewall"></firewall-label> that was recently added,
        <a href ng-click="refreshSecurityGroups()">click here</a> to refresh the list.
      </p>
    </div>
  </div>

</div>
